extends ../layout.pug

block content
    h4 #{opening.name}
    div Description:
        div #{opening.intro}
    div Opening Moves:
        each move in opening.moves
            li #{move}
    div #{board.slice(0, 8).join(' ')}
    div #{board.slice(8, 16).join(' ')}
    div #{board.slice(16, 24).join(' ')}
    div #{board.slice(24, 32).join(' ')}
    div #{board.slice(32, 40).join(' ')}
    div #{board.slice(40, 48).join(' ')}
    div #{board.slice(48, 56).join(' ')}
    div #{board.slice(56, 64).join(' ')}

    